.OrderBox {
	border-radius: 20px !important;
}

.ikon {
	transition: all 0.5s ease-out;
	color: rgb(184, 80, 80);
}
.ikon:hover {
	color: red;
	cursor: pointer;
}

.knapp:hover {
	margin: 5px;
	cursor: pointer;
	background-color: goldenrod;
}

.knapp {
	transition: all 0.3s ease-out;
}
