#pizzaItemImg {
	border-radius: 50%;
	background-color: white;
	max-height: 50%;
	/* height:300px; */
	object-fit: scale-down;
}

.personInfoText {
	font-size: 1.5rem;
}

#iconstyle {
	font-size: 1.5rem !important;
	letter-spacing: inherit;
	line-height: 1 !important;
}
