* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(210, 207, 219); /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgb(239, 236, 243), rgb(247, 245, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
